<div id="<%= dom_id purchase_category %>">
  <p>
    <strong>Purchase:</strong>
    <%= purchase_category.purchase_id %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= purchase_category.category_id %>
  </p>
</div>
