@font-face {
  font-family: 'Proxima Nova';
  src: url('Proxima Nova Font.otf');
}

$primary: #3778c2;
$secondary: #5fb523;
$body-color: #434b54;
$body-bg: #f0f2f1;
$font-family-base: 'Proxima Nova', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue',
  'Noto Sans', 'Liberation Sans', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
  'Segoe UI Symbol', 'Noto Color Emoji';
$border-radius: 0.25rem;
$input-padding-y: 0.7rem;
$input-bg: white;
$input-font-size: 0.9rem;

@import 'bootstrap';
@import 'rails_bootstrap_forms';
@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css');

.btn-secondary {
  color: white;
}

.btn-sign-up {
  // button-variant($background, $border, $text, $hover-background, $hover-border, $hover-text)
  @include button-variant(
    $body-bg,
    $body-bg,
    $body-color,
    darken($body-bg, 7.5%),
    darken($body-bg, 7.5%),
    darken($body-color, 30%)
  );
}

.btn-submit-login {
  @include button-variant($primary, $primary, white, $primary, $primary, darken(white, 30%));
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: inherit;
}
